<div id="factura" style="background-color:white;display:none">
	<div><h3>FACTURA-PARQUEADERO</h3></div><br/>
	<div><p><strong>Cliente: </strong><input class="border-0" id="FEcliente"/></p></div>
	<div><p><strong>Documento: </strong><input class="border-0" id="FEdocumento"/></p></div>
	<div><p><strong>Teléfono: </strong><input class="border-0" id="FEtelefono"/></p></div><br/>
	<div><p><strong>Vehículo: </strong><input class="border-0" id="FEvehiculo"/></p></div>
	<div><p><strong>Placa: </strong><input class="border-0" id="FEplaca"/></p></div>
	<div><p><strong>Puesto: </strong><input class="border-0" id="FEpuesto"/></p></div><br/>
	<div><p><strong>Fecha Ingreso: </strong><input class="border-0" id="FEfecha_ingreso"/></p></div>
	<div><p><strong>Fecha Salidad: </strong><input class="border-0" id="FEfecha_salida"/></p></div><br/>
	<div><p><strong>Monto Total: <h5><input class="border-0" id="FEtotal_fe"/></h5></strong></p></div><br/>
</div>